body{
    background-color: #342048;
    color: #00d6c3;
}

nav{
    padding: 5px;
    line-height: 30px;
}

footer{
    position: fixed;
    bottom: 100px;
    text-align: center;
}

header{
    text-align: center;
}

.controls{
    /* display: flex;
    align-items: center;
    gap: 10px; */
    position:relative;
}
#sprite {
    position: absolute;
    top: 50px;
    left: 0;
    width: 64px; /* adjust as needed */
}