body{
    background-color: #342048;
    color: #00d6c3;
}

nav{
    padding: 5px;
    line-height: 30px;
}

footer{
    position:inherit;
    bottom: 100px;
    text-align: center;
}
#memeImage{
    /* display:block;
    margin-left: auto;
    margin-right: auto; */
    position: absolute;
}

header{
    text-align: center;
}

.controls{
    /* display: flex;
    align-items: center;
    gap: 10px; */
    position:relative;
}
#sprite {
    position: absolute;
    top: 50px;
    left: 0;
    width: 64px; /* adjust as needed */
}

nav a{
    text-decoration: none;
    background-color: rgb(7, 31, 41);
    color:darkgoldenrod;
    padding: 10px 20px;
    border: 2px solid;
    margin: 10px;
}

nav a:hover{
    background-color: aquamarine;
    color: rgb(3, 34, 34);
}